/*
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Ramaraja', serif;

*/

body {
  background: #fffefb;
  min-width: 310px;
}

/*---------------------HEADER-----------------------*/

header {
  background: #fffefb;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.barra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 8px;
}

.logo {
  display: none;
}

.logo1 {
  width: 50px;
  position: relative;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.logo2 {
  display: none;
  width: 50px;
  position: relative;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}


#toggle-menu {

  width: 80%;
  height: 90%;

}

.esconder {

  display: none;

}

.mostrar {

  display: block;

}


.nav {
  width: 90%;
  padding-top: 1rem;
}

.nav ul {

  width: 120%;
  text-align: center;
  margin-left: 1rem;

}

.ul-nav {

  width: 100%;

}

.ul-nav hr {

  color: #fffefb;
  margin: 1rem 0;
}

.ul-nav a {
  font-family: "Kanit", sans-serif;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
  padding: 0;
}

.ul-nav i{

  color: #fffefb;
  margin-right: 1rem;
  font-size: 1.2rem;
}

.iconos {
  margin: 20px 10px 20px 0;
  order: 3;
  display: none;
}

.iconos button {
  border: none;
  border-radius: 100%;
  background-color: #7300ba;
  margin-left: 8px;
  cursor: pointer;
  font-size: 10px;
}

.iconos i {
  color: white;
  padding: 10px 5px;
  font-size: 9px;
}

.buscador {
  display: none;
  order: 2;
  margin: 0 8px;
  min-width: 50%;
  padding: 5px;
}

.buscador input {
  box-sizing: border-box;
  border: 1px solid #7300ba;
  border-radius: 100px;
  padding: 8px;
  padding-left: 16px;
  min-width: 30%;
}

.buscador input:focus {
  background: #7300ba;
  color: white;
}

.buscador button {
  border: none;
  border-radius: 100%;
  background-color: #7300ba;
  cursor: pointer;
  font-size: 10px;
}

.buscador i {
  color: white;
  padding: 10px 5px;
}

#burger {

  border-radius: 100%;
  border: none;
  background-color: #7300ba;
  padding: 8px 9.5px;
  margin-right: 1rem;

}


#burger i {

  color: #fffefb;

}

#burger span {

  color: #fffefb;
  font-size: 0.6rem;

}

/*---------------------MAIN-----------------------*/

main {
  background: linear-gradient(rgb(240, 240, 240), rgba(0, 0, 0, 0));
  padding-top: 7%;
}

.acquarella {
  background-image: url(images/models2.jpg);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 350px;
  width: 100%;
  background-size: cover;
}

.acquarella h1 {
  font-family: "Kaushan Script", cursive;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px 0px #7300ba;
  font-weight: bold;
}

.acquarella button {
  border: none;
  border-radius: 5px;
  background: #7300ba;
  box-shadow: 0px 0px 5px 2px black;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 10px;
  width: 50%;
  opacity: 90%;
}

.seccion2 {
  display: none;
}

.seccion1 {
  text-align: center;
}

.seccion1 hr {
  margin: 0;
  border: none;
  height: 2px;
  background: linear-gradient(0.25turn, #7400bca6, #ebf8e1, #7400bca6);
  transition: background 0.3s ease;
}

.seccion1 h2 {
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  background: rgba(0, 0, 0);
  color: white;
  text-align: center;
  padding: 12px 0;
}

.nav-categorias {
  min-width: 100%;
  background: rgba(0, 0, 0);
  padding: 0;
}

.nav-categorias button {
  font-family: "Kanit", sans-serif;
  background-color: #000;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px;
  transition: background 0.4s ease;
  cursor: pointer;
  border: none;
  margin: 0;
}

.nav-categorias button:hover {
  background: rgb(248, 248, 248);
  color: black;
}

.nav-categorias button:active {
  background: #a434e9;
  color: #000;
}

.nav-categorias2 {
  min-width: 100%;
  background: rgba(0, 0, 0);
  padding: 0;
}

.nav-categorias2 button {
  font-family: "Kanit", sans-serif;
  background-color: #000;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px;
  transition: background 0.4s ease;
  cursor: pointer;
  border: none;
  margin: 0;
}

.nav-categorias2 button:hover {
  background: rgb(248, 248, 248);
  color: black;
}

.nav-categorias2 button:active {
  background: #a434e9;
  color: #000;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 6% 0 6% 0;
  gap: 1rem;
}

.container div {
  border: #f2dbffea solid 1px;
}

.productos {
  height: 12rem;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(#e9c5ff, #9198e500);
  border-radius: 10px;
  cursor: pointer;
  transition: background 1s ease;
  flex-basis: 40%;
}

.productos:hover {
  background: linear-gradient(#9198e500, #e9c5ff);
}

.productos img {
  width: 80%;
  height: 12rem;
  object-fit: contain;
  text-align: center;
  display: block;
  margin: auto;
}

.productos a {
  width: 100%;
  height: 25rem;
  font-family: "Ramaraja", serif;
  color: black;
  text-decoration: none;
}



/*---------------------SLIDER-----------------------*/

.container-slider {
  width: 100%;
  min-width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 400%;
  height: 280px;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.412);
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s ease;
}

.slider__btn:hover {
  background: white;
}

.slider__btn--right {
  right: 20px;
}

.slider__btn--left {
  left: 20px;
}

/*---------------------FOOTER-----------------------*/

footer {
  background: #7300ba;
  width: 100%;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 10px;
}

footer h3 {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

.redes {
  min-width: 40%;
}

.redes-boton button {
  background-color: white;
  padding: 4px;
  border: none;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.redes-boton button:hover {
  background-color: #7300ba;
}

.redes-boton i {
  color: #7300ba;
  font-size: 15px;
}

.redes-boton i:hover {
  color: #fffefb;
}

.redes-boton a {
  cursor: auto;
}

.contacto h3 {
  text-align: right;
}
.contacto a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  letter-spacing: 1px;
}

.copy {
  text-align: center;
  background: black;
  color: white;
  padding: 20px 0;
  font-size: 12px;
}

footer hr {
  margin: 0;
  color: white;
}

/*---------------------MQ480-----------------------*/

@media screen and (min-width: 480px) {

  .esconder {

    display: block;

  }

  .burger-menu {

    display: none;

  }

  .barra {
    margin: 0;
  }

  .titulo {
    min-width: 25%;
  }

  .titulo img {
    min-width: 100%;
  }

  .logo {
    display: block;
    width: 1.5rem;
    padding: 0;
  }

  .logo1 {
    display: none;
  }

  .nav {
    width: 60%;
    margin-right: 25px;
    box-sizing: border-box;
  }

  .ul-nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .ul-nav a {
    padding: 15px 14px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
  }

  .ul-nav a:hover {
    background-color: rgb(238, 238, 238);
  }

  .iconos {
    order: 2;
    min-width: 0%;
    display: block;
  }

  .iconos button {
    transition: background 0.3s ease;
  }

  .iconos button:hover {
    background: #fffefb;
  }

  .iconos i {
    transition: color 0.3s ease;
  }

  .iconos i:hover {
    color: #7300ba;
  }

  .buscador {
    min-width: 70%;
    order: 3;
    display: flex;
    justify-content: end;
    margin-right: 30px;
  }

  .buscador input {
    width: 50%;
  }

  .buscador button {
    transition: background 0.3s ease;
  }

  .buscador button:hover {
    background: #fffefb;
  }

  .buscador i {
    transition: color 0.3s ease;
  }

  .buscador i:hover {
    color: #7300ba;
  }

  .acquarella {
    /*temporal por slider*/
    display: none;
  }

  .acquarella button {
    font-size: 13px;
    width: 33%;
  }

  .redes-boton button {
    padding: 5px;
    margin-right: 13px;
  }

  .redes-boton i {
    font-size: 20px;
  }

  .container {
    justify-content: center;
    align-items: center;
    margin: 8% 2% 8% 2%;
    gap: 2rem;
  }

  .productos {
    max-height: 26rem;
    height: 14rem;
    flex-basis: 40%;
  }

  .productos img {
    max-width: 95%;
    height: 15rem;
  }

  .slider {
    height: 300px;
  }

  .nav-categorias {
    padding: 0;
  }

  .nav-categorias button {
    letter-spacing: 5px;
    font-size: 16px;
    padding: 8px 17px;
  }

  .nav-categorias2 {
    padding: 0;
  }

  .nav-categorias2 button {
    letter-spacing: 5px;
    font-size: 16px;
    padding: 8px 17px;
  }
}

/*---------------------MQ960-----------------------*/

@media screen and (min-width: 960px) {
  header {
    position: fixed;
    z-index: 1;
  }

  .barra {
    justify-content: center;
    flex-wrap: nowrap;
  }

  .titulo {
    min-width: 20%;
  }

  .acquarella {
    /*display: flex;*/
    justify-content: center;
    align-items: end;
    flex-direction: column;
    height: 400px;
    /*temporal por slider*/
    display: none;
  }

  .acquarella h1 {
    font-size: 30px;
    margin-right: 160px;
  }

  .acquarella button {
    font-size: 15px;
    padding: 10px;
    width: 20%;
    opacity: 90%;
    margin-right: 160px;
    transition: all 0.3s ease;
  }

  .acquarella > button:hover {
    color: #7300ba;
    background-color: white;
  }

  .nav {
    min-width: 35%;
  }

  .ul-nav a {
    box-sizing: border-box;
    font-size: 15px;
    padding: 15px 20px 10px 20px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
  }

  .ul-nav a:hover {
    background-color: rgb(238, 238, 238);
  }

  .buscador {
    order: 2;
    min-width: 30%;
    justify-content: none;
  }

  .buscador input {
    min-width: 75%;
  }

  .iconos {
    min-width: 10%;
    order: 3;
  }

  main {
    background: linear-gradient(rgb(240, 240, 240), rgba(0, 0, 0, 0));
    padding-top: 4.4rem;
  }

  .slider {
    height: 400px;
  }

  .container {
    justify-content: space-around;
    align-items: center;
    margin: 3.5% 2% 3% 2%;
    padding: 0;
    gap: 3rem;
  }

  .productos {
    flex-basis: 20%;
    height: 17rem;
    max-height: 25rem;
  }

  .seccion1 {
    display: none;
  }

  .seccion2 {
    display: block;
    text-align: center;
  }

  .seccion2 hr {
    margin: 0;
    border: none;
    height: 2px;
    background: linear-gradient(0.25turn, #7400bca6, #ebf8e1, #7400bca6);
  }

  .seccion2 h2 {
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0);
    color: white;
    text-align: center;
    padding: 12px 0;
  }

  .nav-categorias {
    padding: 0px 0;
  }

  .nav-categorias button {
    letter-spacing: 4px;
    font-size: 18px;
    padding: 12px;
  }
}

/*---------------------MQ1800-----------------------*/

@media screen and (min-width: 1800px) {
  .ul-nav a {
    font-size: 22px;
  }

  .acquarella {
    /*temporal por slider*/
    display: none;
  }

  .slider {
    height: 600px;
    margin-top: 30px;
  }
}
